
<div class="modal fade" id="urlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Upload from URL</h3>
                Type or paste Image URL
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">URL:</label>
                    <input placeholder="http://" type="url" class="form-control" id="url">
                </div>
            </div>
            <div class="modal-footer">
                <button id="back" type="button" class="btn btn" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>